{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h1>Task List</h1>
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.title }}
                    {{ task.text }}
                    <a href="{% url 'task_delete' task.pk %}">Delete</a>
                    <a href="{% url 'task_update' task.pk %}">Update</a>
                </li>
        {% empty %}
            <li>No tasks</li>
        {% endfor %}
        </ul>
        <a href="{% url 'task_create' %}">Create New Task</a>
    </div>
{% endblock %}
