{% extends 'index.html' %}

{% block content %}
    <div class="container">
        {% for task in tasks %}
            <div class="container d-flex">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="card d-flex" style="width: 50rem;">
                      <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'task_detail' task.pk %}" style="text-decoration: none; color: black">{{ task.title }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2" style="color: {{ task.get_status_color  }};">{{ task.status }}</h6>
                        <a href="{% url 'task_update' task.pk %}" class="card-link">Update</a>
                        <a href="{% url 'task_delete' task.pk %}" class="card-link">Delete</a>
                        <a href="{% url 'task_detail' task.pk %}" class="card-link">View</a>
                      </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
